<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Este es el home y esta vacio</h1>

  <h1>Artistas</h1>
  <ion-slides [options]="slideOpts" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists">
      <ion-avatar>
        
        <img src="https://via.placeholder.com/150" />
        <!-- <img [src]="artist.image" /> -->
        <span>Artista</span>
      </ion-avatar>

    </ion-slide>
  </ion-slides>

  
  <h1>Artistas</h1>
  <ion-slides [options]="slideOpts" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists">
      <ion-avatar>
        
        <img src="https://via.placeholder.com/150" />
        <!-- <img [src]="artist.image" /> -->
        <span>Artista</span>
      </ion-avatar>

    </ion-slide>
  </ion-slides>

  
  <h1>Artistas</h1>
  <ion-slides [options]="slideOpts" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists">
      <ion-avatar>
        
        <img src="https://via.placeholder.com/150" />
        <!-- <img [src]="artist.image" /> -->
        <span>Artista</span>
      </ion-avatar>

    </ion-slide>
  </ion-slides>
</ion-content>