<ion-header padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">
        <ion-icon name="md-arrow-back" size="large" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <figure text-center padding>
    <img src="assets/img/logo.png"  width="100px">
  </figure>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

    <ion-item>
      <ion-label position="floating" color="success">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>      
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.nombre">
        <div *ngIf="registerForm.get('nombre').hasError(validation.type) && 
        (registerForm.get('nombre').dirty || registerForm.get('nombre').touched) ">
          {{ validation.message }}

        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="success">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.apellido">
        <div *ngIf="registerForm.get('apellido').hasError(validation.type) && 
        (registerForm.get('apellido').dirty || registerForm.get('apellido').touched) ">
          {{ validation.message }}

        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="success">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="registerForm.get('email').hasError(validation.type) && 
        (registerForm.get('email').dirty || registerForm.get('email').touched) ">
          {{ validation.message }}

        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="success">Contraseña</ion-label>
      <ion-input 
        formControlName="password"
          type="password"
          class="form-controll"
          required></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="registerForm.get('password').hasError(validation.type) &&         
        (registerForm.get('password').dirty ||
        registerForm.get('password').touched)">
          {{ validation.message }}

        </div>
      </ng-container>
    </div>

    <ion-button
      shape="round"
      class="submit-btn button-block"
      color="success"
      type="submit"
      [disabled]="!registerForm.valid"
      >Registrar</ion-button>

    <label class="error-message">{{ errorMessage }}</label>
    <label class="success-message">{{ successMessage }}</label>
  </form>
</ion-content>